@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$bg-color: #202020;
$box-color: #303030;
$text-color-box: #909090;
$font-family: 'Poppins', sans-serif;
$photo-size: calc(9em + 7vw);
$font-color: #ffffff;
$primary-color: #7e2eff;
$box-shadow-skills: 0 4px 10px rgba(0, 0, 0, 0.3);
