@use '../../config/tools' as tool;
@use '../../config/variables' as var;

.footer {
  width: 100%;
  max-width: 1920px;
  align-self: center;

  .content {
    @include tool.flex-row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

    .left, .right {
      @include tool.flex-row;
      gap: 5px;
      font-size: 15px;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var.$primary-color;
      }
    }

    .left {

      .logo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        user-select: none;
        pointer-events: none;
      }
    }

    .right {
      font-size: 15px;
    }
  }
}
