@use '../../config/variables' as var;
@use '../../config/tools' as tool;


.main-about {
  @include tool.flex-row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  gap: 30px;

  .left {
    .photo {
      width: 15vw;
      height: 15vw;
      max-width: 250px;
      max-height: 250px;
      border-radius: 50%;
      margin-bottom: 20px;
      pointer-events: none;
      border: 3px solid var.$box-color;
      box-shadow: 0 6px 50px 0 rgba(126, 46, 255, 0.2);
      user-select: none;
    }
  }

  .right {
    max-width: 500px;
    .presentation {
      font-size: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: circle;
      gap: 5px;
      border-bottom: 1px solid #ffffff;
    }
    li {
      margin-top: 5px;
    }
  }
}